%h1 This is Home
= link_to "Sign In With Google", oauth_google_path
= link_to "Sign In Using Google OAuth 2 Gem", '/auth/google_oauth2'

- if current_user
  %p= "Hello #{current_user.first_name}"
  = link_to "Logout", logout_path 
